.customer-logos-container{id: "#{current_page.data.logos_container_id}"}
  %h2.text-center
    Join these public sector organizations and start collaborating on code.
  .logos-container
    = partial "/images/organizations/logo_us_dept_of_state_ultra.svg"
    = partial "/images/organizations/logo_us_navy_ultra.svg"
    = partial "/images/organizations/logo_us_dept_of_homeland_security_ultra.svg"
    = partial "/images/organizations/logo_us_air_force_ultra.svg"
    = partial "/images/organizations/logo_us_army_ultra.svg"
  .logos-container
    = partial "/images/organizations/logo_nasa_ultra.svg"
    = partial "/images/organizations/logo_upmc_ultra.svg"
    = partial "/images/organizations/logo_federal_reserve_of_kansas_city_ultra.svg"
    = partial "/images/organizations/logo_university_of_michigan_ultra.svg"
  %h4.text-center
    Available on the GSA Schedule and NASA SEWP V.
  .logos-container
    = partial "/images/organizations/logo_gsa_schedule_ultra.svg"
    = partial "/images/organizations/logo_sewp_v_nasa_ultra.svg"

:css

  .customer-logos-container {
    padding-bottom: 40px;
  }

  .customer-logos-container .logos-container {
    padding: 5px 0;
  }

  .customer-logos-container h2,
  .customer-logos-container h4 {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.4;
    margin: 0 auto;
    padding: 20px 0px;
  }

  .customer-logos-container h4 {
    font-size: 21px;
    font-weight: 400;
  }

  .customer-logos-container .logos-container svg {
    height: 75px;
    max-width: 165px;
    opacity: 1;
  }

  #logos-bg-white h2,
  #logos-bg-white h4 {
    color: #aaaaaa;
  }

  #logos-bg-white .logos-container svg {
    color: #aaaaaa;
  }

  #logos-bg-purple h2,
  #logos-bg-purple h4 {
    color: #ffffff;
  }

  #logos-bg-purple .logos-container svg {
    color: #ffffff;
  }
